<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="db" connectionString="Server=db;Port=5432;Database=creatio; User ID=puser;password=superpass;Timeout=500; CommandTimeout=400;MaxPoolSize=1024;" />
    <add name="redis" connectionString="host=redis;db=0;port=6379" />
    <add name="tempDirectoryPath" connectionString="%TEMP%/%USER%/%APPLICATION%" />
<!--
    <add name="influx" connectionString="url=[Address of the analytics collection service]; user=; password=; batchIntervalMs=5000" />
    <add name="clientPerformanceLoggerServiceUri" connectionString="[Logging service address]" />
    <add name="messageBroker" connectionString="amqp://[MessageBroker username]:[Password]@[Address of the server where the service is deployed]/[Virtual server name]" />
-->
</connectionStrings>
